.login-container{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: white;
    overflow: hidden; 
}

.login-container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-90deg,  #191a52,  #2253b4);
    top: -10%;
    right: 46%;
    transform: translateY(-50%);
    z-index: 4;
    transition: 1.8s ease-in-out;
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 3;
    transition: 1s 0.7s ease-in-out;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2 ;
    padding: 0 5rem;
    overflow: hidden;
    transition: 0.2s 0.7s ease-in-out;
}

form.signin-form{
    z-index: 2;
}

form.signup-form{
    z-index: 1;
    opacity: 0;
}

.signin-form h2{
    font-size: 34px;
    color: black;
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: rgb(236, 236, 236);
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
}

.input-field i{
    text-align: center;
    line-height: 55px;
    color: gray;
    font-size: 1.2rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-size: 1.2rem;
}

.input-field input::placeholder{
    color: rgb(139, 139, 139);
}

.click-button{
    width: 150px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background: linear-gradient(-90deg,  #173e8b, #191a52);
    margin: 10px 0;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s ease;
}

.click-button:hover {
    background-color: #627db4;
}

.option-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.option{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 5;
}

.option .option-content{
    color: white;
    transition: .9s .6s ease-in-out;
    margin-top: -150px;
}

.option h3{
    font-weight: 600;
    line-height: 1;
    font-size: 24px;
}

.option p{
    font-size: 16px;
    padding: 0.7rem 0;
}

.transparent{
    margin: 0;
    background: none;
    border: 2px solid white;
    width: 130px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
}

.left-option{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-option{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.right-option .option-content{
    transform: translateX(800px);
}

/* Animation */

.login-container.signup-mode:before{
    transform: translate(100%, -50%);
    right: 54%;
}

.login-container.signup-mode .left-option .option-content{
    transform: translateX(-800px)
}

.login-container.signup-mode .right-option .option-content{
    transform: translateX(0)
}

.login-container.signup-mode .left-option{
    pointer-events: none;
}

.login-container.signup-mode .right-option{
    pointer-events: all;
}

.login-container.signup-mode .signin-signup{
    left: 25%;
}

.login-container.signup-mode form.signin-form{
    z-index: 1;
    opacity: 0;
}

.login-container.signup-mode form.signup-form{
    z-index: 2;
    opacity: 1;
}


@media (max-width: 870px){
    .login-container{
        height: 100vh;
    }

    .login-container:before{
        width: 1500px;
        height: 1500px;
        left: 50%;
        bottom: 56%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .signin-signup{
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .option-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .option{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }

    .option .option-content{
        transition: 0.9s 0.8s ease-in-out;
    }

    .option h3{
        font-size: 18px;
    }

    .option p{
        font-size: 12px;
        padding: 0.5rem 0;
    }

    .transparent{
        width: 110px;
        height: 35px;
        font-size: 12px;
    }

    .left-option{
        grid-row: 1 / 2;
        margin-top: 230px;
    }

    .right-option{
        grid-row: 3 / 4;
        margin-bottom: -130px;
    }

    .right-option .option-content{
        transform: translateY(300px);
    }

    .login-container.signup-mode:before{
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
        left: 50%;
    }

    .login-container.signup-mode .left-option .option-content{
        transform: translateY(-300px);
    }

    .login-container.signup-mode .signin-signup{
        top: 60%;
        left: 50%;
        transform: translate(-50% 0);
    }
}

@media (max-width: 570px){
    form{
        padding: 0 1.5rem;
    }

    .option .option-content{
        padding: 0.5rem 1rem;
    }

    .login-container:before{
        bottom: 60%;
    }

    .login-container.signup-mode:before{
        bottom: 32%;
    }
}