.account-container{
    margin-top: 80px;
    background: rgb(233, 233, 233);
    min-height: calc(100vh - 80px);
    padding-top: 80px;
    padding-bottom: 80px;
}

.account{
    background: white;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}

.sidebar{
    width: 300px;
}

.sidebar li{
    list-style: none;
    padding: 15px 40px;
    border-left: 2px solid white;
}

.sidebar li:hover{
    background: rgb(238, 238, 238);
    border-left: 2px solid gray;
}

.sidebar .sidebar-links{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.sidebar-links-active li{
    background: white!important;
    border-left: 2px solid black!important;
}

.account-setting{
    border-left: 1px solid rgb(228, 228, 228);
    padding: 70px 70px;
    width: 100%;
}

.account-setting form{
    padding: 0!important;
    align-items: initial!important;
    width: 75%;
    margin: 0 auto;
}

.account-setting h1{
    margin-bottom: 30px;
    font-size: 28px;
}

.account-setting label{
    margin-top: 30px;
}
 
.account-setting textarea{
    height: 250px;
    min-height: 150px;
    max-height: 400px;
    resize: vertical;
}

.form-control{
    border: none;
    outline: none;
    background: rgb(236, 236, 236);
    color: black;
    width: 100%;
}

.account-submit{
    border: none;
    outline: none;
    background: linear-gradient(-90deg,  #173e8b, #191a52);
    padding: 8px 30px;
    float: right;
    margin-top: 25px;
    transition: .3s ease;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 60px;
}

.upload-button{
    background: linear-gradient(-90deg,  #173e8b, #191a52);
    padding: 8px 15px;
    color: white;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-right: 20px;

}

.upload-projects{
    margin-top: 50px;
}

.upload-projects label,
.upload-featured label{
    margin-top: 0;
}

