.pillars{
    background-color: white;
    padding: 100px 0 150px 0;
}

.pillars h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
    position: relative;
}

.pillars .pillar_icons{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
}

.pillars .pillar_icons h2 {
    font-size: 24px;
    color: #191a52;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pillars .pillar_icons .professionalism,
.pillars .pillar_icons .diversity,
.pillars .pillar_icons .service {
    margin: 0 auto;
    text-align: center;
}


.pillars p{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 18px;
    line-height: 1.8em;
    text-align: center;
}

.pillars .professionalism img,
.pillars .diversity img,
.pillars .service img{
    height: 100px;
}

